p,
h1,h2,h3,h4,h5,h6,
blink {
    color: white;
}
marquee {
    color: aqua;
}


/* Links */
a {
  color: burlywood;
  text-decoration: underline;
}
a:visited {
  color: darkorchid;
}
a:hover {
  color: cornflowerblue; /* Can we go with the uhh... */
}

/**
 * Mimics a default H2 element.
 */
a.artist-link {
  font-size: 1.25em;
  font-weight: 700;
}
a.artist-link.applemusic {
  color: orangered;
}
a.artist-link.itunes {
  color: mediumslateblue;
}
a.artist-link.bandcamp {
  color: lightblue;
}
a.artist-link.facebook {
  color: cornflowerblue;
}
a.artist-link.instagram {
  color: fuchsia;
}
a.artist-link.spotify {
  color: green;
}
a.artist-link.youtube {
  color: red;
}
/**
 * Gives a cool red underline but white text for YouTube
 */
a.artist-link.youtube span {
  color: white;
}

/**
 * Remove the bullets from the artist links
 */
.artist-links ul > li {
  list-style: none;
  margin: 1.5em 0;
}
.artist-links ul > li img {
  padding-right: 0.25em;
  vertical-align: bottom;
}

body .body-text-image {
  /** Add some space between body copy images and the text. */
  padding: 0 25px 0 25px;
}

body .body-text-image-left {
  float: left;
}

body .body-text-image-right {
  float: right;
}

/**
 * White guy shrugging emoji
 */
span.emoji-shrug::before {
  content: "\01F937";
}
